#table-center {
    border: 2px solid #ffd752;
    padding: 5px; 
    border-radius: 15px;
    background: #ffd75266;
    margin: 5px;

    .slot {        
        position: relative;
        width: 100px;
        height: 152px;
        //border: 1px dashed white;

        .card {
            margin: 0;
        }
    }

    .table-under {
        margin-top: 8px;
    }
}